%h4
  = "Filters"

#filterContainer.panel-group{role:"tablist", "aria-multiselectable":"true"}
  = simple_form_for(@searcher,
  :as => :searcher,
  :url => geojson_map_searches_path(format: :json),
  :method => 'post',
  :html => {:class => 'form-vertical'},
  :remote => true,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean},
  :defaults => {:include_blank => "Any...", :required => false} ) do |f|
    - @search_form = f
    = hidden_field_tag :search_type, SearchType.find_by(class_name: 'AssetMapSearcher').id

    - if lookup_context.template_exists?("app_filters_panel", 'maps', true)
      = render :partial => "maps/app_filters_panel"

    - SystemConfig.transam_module_names.each do |mod|
      - if lookup_context.template_exists?("#{mod}_filters_panel", 'maps', true)
        = render :partial => "maps/#{mod}_filters_panel"

    .row{style: "margin-top: 20px;"}
      .col-md-12
        = f.button :submit, 'Apply', :class=>"btn btn-primary", :id => 'submit_filters_btn'
        = button_tag 'Reset', :type => 'reset', :class=> 'btn btn-warning reset-button', :id => 'reset_filters_btn'

:javascript
  $(function() {
    $('#new_searcher').validate({
      submitHandler: function(form) {
        form.submit();
      }
    });

    $('#submit_filters_btn').click(function() {
      if($('#new_searcher').valid()) {
        reload_asset_layers();
      }

      return false;
    });

    function clear_search_form_values() {
      $(':input','#new_searcher')
        .not(':button, :submit, :reset, :hidden')
        .val('')
        .prop('checked', false)
        .prop('selected', false);
    }

    $('#reset_filters_btn').click(function() {
      $('#new_searcher label.error').remove();
      $('#new_searcher .error').removeClass('error');

      clear_search_form_values();
    });
  });


