:css
  .map-container {
    height: 100%;
    padding: 0px;
    height: 500px;
  }

  .transam-map {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    opacity: 0.8;
  }

  #lmap {
    max-width: 100%;
  }

  .sidebar-tab-pressed {
    background-color: lightgrey;
  }

  #map_sidebar a {
    cursor: pointer;
  }

#mapContainer.map-container.col-md-12{style: 'padding: 0px;'}
  #map_sidebar.sidebar.collapsed
    %ul.sidebar-tabs{role:"tablist"}
      %li
        %a{href:"#layers", title:"Add/remove layers", role:"tab"}
          %i.fa.fa-list
      %li
        %a{href:"#filters", title:"Filter asset layers", role:"tab"}
          %i.fa.fa-filter
      %li
        %a#resetMap{title:"Restore the default map", role:"button"}
          %i.fa.fa-refresh
    .sidebar-content.active
      #layers.sidebar-pane
        = render 'maps/layers_panel'
      #filters.sidebar-pane
        = render 'maps/filters_panel'

  = LeafletMap({:mapid => 'lmap',
    :tile_provider => Rails.application.config.map_tile_provider,
    :map_key => Rails.application.config.map_tile_key,
    :access_token => Rails.application.config.map_access_token,
    :min_zoom => Rails.application.config.map_min_zoom_level,
    :max_zoom => Rails.application.config.map_max_zoom_level,
    :max_native_zoom => Rails.application.config.map_max_zoom_level,
    :class => "sidebar-map transam-map"})

= yield :scripts
= render 'maps/map_renderer_script'
= render 'maps/add_layer_script'
= render 'maps/map_scripts'

:javascript

  $(function() {
    // expand/collapse sidebar panels
    $('ul.sidebar-tabs a[role=tab]').on('click', function(e) {
      e.preventDefault();
      if($('#map_sidebar').hasClass('collapsed')) {
        $('.sidebar-pane').removeClass('active');
        $($(this).attr('href')).addClass('active');
        $('#map_sidebar').removeClass('collapsed');
        $(this).addClass('sidebar-tab-pressed');
      } else {
        $('.sidebar-tab-pressed').removeClass('sidebar-tab-pressed');
        var active_panel_id = $('.sidebar-pane.active').attr('id');
        if( ("#" + active_panel_id) != $(this).attr('href')) {
          $(this).addClass('sidebar-tab-pressed');
          $('.sidebar-pane').removeClass('active');
          $($(this).attr('href')).addClass('active');
        } else {
          $('#map_sidebar').addClass('collapsed');
        }
      }
      return false;
    });
  });