:css
  .map-container {
    height: 100%;
    padding: 0px;
    height: 500px;
  }

  .transam-map {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    opacity: 0.8;
  }

  #lmap {
    max-width: 100%;
  }

#mapContainer.map-container.col-md-12{style: 'padding: 0px;'}
  #map_sidebar.sidebar.collapsed
    %ul.sidebar-tabs{role:"tablist"}
      %li
        %a#add_layer{href:"#", title:"Add new layer"}
          %i.fa.fa-plus
      %li
        %a{href:"#layers", title:"Manage layers", role:"tab"}
          %i.fa.fa-list
    .sidebar-content.active
      #layers.sidebar-pane
        = render 'layers_panel'

  = LeafletMap({:mapid => 'lmap',
    :tile_provider => Rails.application.config.map_tile_provider,
    :map_key => Rails.application.config.map_tile_key,
    :access_token => Rails.application.config.map_access_token,
    :min_zoom => Rails.application.config.map_min_zoom_level,
    :max_zoom => Rails.application.config.map_max_zoom_level,
    :max_native_zoom => Rails.application.config.map_max_zoom_level,
    :class => "sidebar-map transam-map"})

= yield :scripts

= render 'map_scripts'

= render 'add_layer_script'

:javascript

  $(function() {
    // expand/collapse sidebar panels
    $('ul.sidebar-tabs a[role=tab]').on('click', function(e) {
      e.preventDefault(); 
      if($('#map_sidebar').hasClass('collapsed')) {
        $('.sidebar-pane').removeClass('active');
        $($(this).attr('href')).addClass('active');
        $('#map_sidebar').removeClass('collapsed');
      } else {
        var active_panel_id = $('.sidebar-pane.active').attr('id');
        if( ("#" + active_panel_id) != $(this).attr('href')) {
          $('.sidebar-pane').removeClass('active');
          $($(this).attr('href')).addClass('active');
        } else {
          $('#map_sidebar').addClass('collapsed');
        }
      }
      return false;
    });
  });