:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0


-# :css

  
.col-sm-12
  .page-header
    %h2 Map Overlay Services
  .row
    .col-sm-12
      - if can? :create, MapOverlayService
        .pull-right
          = link_to new_map_overlay_service_path do
            %i.fa.fa-plus
            = " Add New Overlay"
  = javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
  .library-table
    %table.elbat{:id => table_dom_id,
      :use => 'true',
      :data => {:use => 'true',
        :table_code => 'map_overlay_service',
        :side => 'client',
        :current_page => '0',
        :current_page_size => '10',
        :page_sizes => "10,20,50,100",
        :search => 'client',
        :export => "['csv', 'txt', 'excel']",
        :columns => '{"name":{"name":"Name","type":"drilldown-link"},
                      "1":{"name":"Type"},
                      "2":{"name":"Status"},
                      "3":{"name":"Organization"},
                      "4":{"name":"Actions","type":"action-column"}}',
        :selected_columns => "name,1,2,3,4",
        :cookies => "true",
        :sort => 'client',
        :params => "{}",
        :filter => "[]",
        :data_source => 'client',
        :url => ''}}
    - @map_overlay_services.each_with_index do |service, index|
      %div.actions
        - if can?(:update, service)
          = link_to edit_map_overlay_service_path(service), title: 'Edit service' do
            %i.fa.fa-edit.fa-1-5x.text-success
        - if can?(:destroy, service)
          = link_to map_overlay_service_path(service), method: :delete, data: { confirm: 'Are you sure to delete this service?'}, title: 'Delete service' do 
            %i.fa.fa-times-circle-o.text-danger.fa-1-5x
      
      :javascript
        add_row('#{table_dom_id}',
        {
          "name": '#{h link_to service.name, edit_map_overlay_service_path(service) }',
          "1": '#{h service.map_overlay_service_type }',
          "2": '#{h "Inactive" if !service.active }',
          "3": '#{h service.organization.present? ? service.organization.try(:short_name) : "All" }',
        }, #{index});
        // TEMP UNTIL WE DO THIS FOR REAL
        // TODO: PLEASE DON'T LET THIS GO TO PRODUCTION
        // HACKY HACK IS HACKY
        add_aux_queue('#{table_dom_id}',()=>$(".actions").eq(#{index}).detach().appendTo($("##{table_dom_id} .action-column").eq(#{index}).find(".cell-text")));










-# .col-sm-12.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
-#   .page-header
-#     %h2 Map Overlay Services
-#   .row
-#     .col-sm-12
-#       - if can? :create, MapOverlayService
-#         .pull-right
-#           = link_to new_map_overlay_service_path do
-#             %i.fa.fa-plus
-#             = " Add New Overlay"
-#     .col-sm-12
-#       .table-responsive
-#         %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#           :pagination => 'true',
-#           :show_pagination_switch => 'false',
-#           :page_list => "[5, 10, 20, 50, 10000]",
-#           :page_size => current_user.num_table_rows,
-#           :search => 'false',
-#           :toolbar => "#table_actions",
-#           :export_types => "['csv', 'txt', 'excel']",
-#           :show_export => 'true',
-#           :show_columns => 'true',
-#           :show_toggle => 'false',
-#           :cookie => 'true',
-#           :cookie_id_table => "map_overlay_services_id",
-#           :cookie_expire => "1y"}}
-#           %thead
-#             %tr
-#               %th.left{:data => {:visible => 'false'}} Object Key
-#               %th.center{:data => {:sortable => 'true'}} Type
-#               %th.center{:data => {:sortable => 'true'}} Name
-#               %th.center{:data => {:sortable => 'true'}} Inactive?
-#               %th.center{:data => {:sortable => 'true'}} Organization
-#               %th.center{:data => {:sortable => 'false'}} Action

-#           %tbody
-#             c.each do |service|
-#               %tr{:id => service.object_key}
-#                 %td.center= service.object_key
-#                 %td.center= service.map_overlay_service_type
-#                 %td.center
-#                   %span.hidden
-#                     = service.name
-#                   = link_to service.name, service.url
-#                 %td.center= 'Inactive' if !service.active
-#                 %td.center= service.organization.present? ? service.organization.try(:short_name) : 'All'
-#                 %td.center
-#                   - if can?(:update, service)
-#                     = link_to edit_map_overlay_service_path(service), title: 'Edit service' do
-#                       %i.fa.fa-edit.fa-1-5x.text-success
-#                   - if can?(:destroy, service)
-#                     = link_to map_overlay_service_path(service), method: :delete, data: { confirm: 'Are you sure to delete this service?'}, title: 'Delete service' do 
-#                       %i.fa.fa-times-circle-o.text-danger.fa-1-5x
